*{
    margin: 0;
    padding: 0;
}

body{
    font-family: sans-serif;
    line-height: 2em;
}

header {
    background-color: #262D63;
    position: fixed;
    width: 100%;
    z-index: 100;
}

header #logo {
    display: inline-block;
    width: 118px;
    height: 65px;
    margin: 0 auto;
}

.background-img{
    background-image: url(../img/img.png);
    background-repeat: no-repeat;
}

#logo{
    background-position: 0px 11px;
}

.content{
    width: 80%;
    margin: 0 auto;
    display: block;
}

#nav-bar {
    background-color:#262D63;
    height: 78px;
}

#nav-bar ul {
    width: 75%;
    float: right;
}

#nav-bar li {
    float: left;
    text-align: center;
    list-style-type: none;
    width: 25%;
}

#nav-bar li a {
    color: #fff;
    padding: 23px 0px;
    margin: 0 0 0 0;
    display: block;
    text-decoration: none;
}

#nav-bar li a:hover{
    background-color: #2F387B;
}

.container{
    margin: 0 10% 0 10%;
    padding-top: 92px;
    margin-bottom: 30px;
}

.tx-center{
    text-align: center;
}

@media screen and (max-width:928px) {
    header #logo {
        display: block;
        margin: 6px auto 3px;
    }

    #nav-bar{
        height: 146px;
    }

    #nav-bar ul, .content{
        width: 100%;
    }

    .container{
        padding-top: 160px;
    }

}

.display-none{
    display: none;
}

.tx-bold{
    font-weight: bold;
}

.anchor {
    padding: 5px;
    margin-left: 5px;
    cursor: pointer;
    background-color: #ccc;
    border-radius: 6px
}

.anchor:hover {
    text-decoration: underline;
    background-color: #ddd
}

.box {
    background-color: #ccc;
    border-radius: 4px;
    margin-left: 5px;
    padding: 10px 15px;
    width: auto
}

footer{
    background-color: #262D63;
    padding: 15px;
    color: #fff;
}

.footer {
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    padding: 15px;
    background-color: #262D63;
}

input[type=text]{
    width:100%;
    border:2px solid #aaa;
    border-radius:4px;
    margin:8px 0;
    outline:none;
    padding:8px;
    box-sizing:border-box;
    transition:.3s;
    margin-left: auto;
    margin-right: auto;
  }
  
  input[type=text]:focus{
    border-color:dodgerBlue;
    box-shadow:0 0 8px 0 dodgerBlue;
  }
  
  .inputWithIcon input[type=text]{
    padding-left:40px;
  }
  
  .inputWithIcon{
    position:relative;
  }
  
  .inputWithIcon i{
    position:absolute;
    left:0;
    top:8px;
    padding:9px 8px;
    color:#aaa;
    transition:.3s;
  }
  
  .inputWithIcon input[type=text]:focus + i{
    color:dodgerBlue;
  }
  
  .inputWithIcon.inputIconBg i{
    background-color:#aaa;
    color:#fff;
    padding:9px 4px;
    border-radius:4px 0 0 4px;
  }
  
  .inputWithIcon.inputIconBg input[type=text]:focus + i{
    color:#fff;
    background-color:dodgerBlue;
  }